<h1 style="color:#b39ddb;"> Create A New Post </h1>

<form class="" action="/posts" method="post">
    <label for="">Title</label>
    <input type="text" name="title" value="">
    <label for="">Image Url:</label>
    <input type="text" name="image_url" value="">
    <label for="">Description:</label>
    <input type="text" name="description" value="">
    
    <button class="btn waves-effect deep-purple accent-2" type="submit" name="action">Create New Post!</button>

</form>