<h1> Create A New Post </h1>

<form class="" action="/posts" method="post">
    <label for="">Title</label>
    <input type="text" name="title" value="">
    <label for="">Image Url:</label>
    <input type="text" name="image_url" value="">
    <label for="">Description:</label>
    <input type="text" name="description" value="">
    
    <input type="submit" name="" value="Create New Post!">

</form>