

<h1 style="color:#b39ddb;"> Please log in below</h1>
<form class="" action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" value="">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" value="">
    <button class="btn waves-effect deep-purple accent-2" type="submit" name="action">Login</button>
    <br>
    <br>
    <a href="/">Back</a>