<h2 style="color:#b39ddb;">Sign Up</h2>

<form class="" action="/users" method="post">
    <label for="name">Username:</label>
    <input type="text" name="username" value="">
    <label for="password">Password:</label>
    <input type="password" name="password" value="">
    <label for="">Profile Pic Url:</label>
    <input type="text" name="image_url" value="">
     <button class="btn waves-effect deep-purple accent-2" type="submit" name="">Submit</button>