<div class="container">
<h1 style="color:#b39ddb;"> Welcome to Sneakr Freakr! </h1> 

<a style="color:white;" href="/login">Log In</a>
<p style="color:yellow;"> or please.... </p>
<a style="color:white;"href="/signup">Sign Up</a>
</div>

<style>
body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDmqAmf9HfNem4W-hq2DTdVHfEKjTwsnjzdA&usqp=CAU');
    background-size: 100% 103%;
   
}
</style>
<br>
<br>
<br>
<br>
<br>
<footer class="branding">
<small style="color:#64ffda;">&copy; 2020 <strong>Sneakr Freakr</strong></small>
</footer>
</div>
