<div class="container">
<h1> Welcome to Sneakr Freakr! </h1> 

<a href="/login">Log In</a> OR <a href="/signup">Sign Up</a>
</div>

<div class="nav">
   <% if logged_in? %>
    <a href="/">All Posts</a>
    <a href="/">Create New Post</a>
    <a href="/logout">Log Out</a>
   <% end %> 
</div>

<div class="wrapper">
<footer class="branding">
<small>&copy; 2020 <strong>Sneakr Freakr</strong></small>
</footer>
</div>
