<div class="container">
<h1 style="color:#b39ddb;"> Welcome to Sneakr Freakr! </h1> 

<a style="color:white;" href="/login">Log In</a> OR <a style="color:white;"href="/signup">Sign Up</a>
</div>



<div class="wrapper">
<footer class="branding">
<small style="color:#64ffda;">&copy; 2020 <strong>Sneakr Freakr</strong></small>
</footer>
</div>
